[submodule "task"]
	path = .task
	url = https://github.com/bytesmith-ahmad/task
[submodule "bills"]
	path = .bills
	url = https://github.com/bytesmith-ahmad/bills
[submodule "journal"]
	path = journal
	url = https://github.com/bytesmith-ahmad/journal
