# Ignore everything...
/*

# ... except for these directories ...
!/aux/
!/bin/

# ... and except for those files
!.bashrc
!.idearc
!.taskrc
!.gitconfig
!.gitignore
!cloud
!downloads
!homework
!README.md
!repos
