# Ignore everything...
/*

# ... except for these directories ...
!/.task
!/aux/
!/bin/
!/ideas/

# ... and except for those files
!.bashrc
!.taskrc
!.gitconfig
!.gitignore
!arch
!cloud
!downloads
!homework
!README.md
!repos
!TODO

