# Ignore everything...
/*

# ...except for:

# scripts

!/bin/

# git files

!.gitconfig
!.gitignore
!README.md

# config files

!.bashrc
!.billrc
!.idearc
!.taskrc

# symlinks

!cloud
!downloads
!repos
