[submodule "task"]
	path = .task
	url = https://github.com/bytesmith-ahmad/task
[submodule "bills"]
	path = .bills
	url = https://github.com/bytesmith-ahmad/bills
[submodule "journal"]
	path = journal
	url = https://github.com/bytesmith-ahmad/journal
[submodule "rc-files"]
	path = rc-files
	url = https://github.com/bytesmith-ahmad/rc-files
[submodule "pass"]
	path = pass
	url = https://github.com/bytesmith-ahmad/pass
[submodule "archives"]
	path = archives
	url = https://github.com/bytesmith-ahmad/archives
[submodule "scripts"]
	path = scripts
	url = https://github.com/bytesmith-ahmad/scripts
